$mainBlue: #2f5572;
$bgcolorMain: #ddd;


body{
	
	padding:15px;
	margin: 10px;
	columns: 300px 2;
	color: $mainBlue;
	background: $bgcolorMain;
}

.box{
	background:$bgcolorMain;
	a{
		display: block;
		padding: 10px;
	}
}